body{
    font-family:Arial;
    margin:20px;
    background:white;
}

.package{
    border:2px solid gray;
    padding:15px;
    width:250px;
}

.active{
    border:3px solid blue;
    background:#e6f2ff;
}

.dark{
    background:#222;
    color:white;
}

button{
    padding:8px 15px;
    margin-top:10px;
    cursor:pointer;
}